/* setting to override default browser styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html, body {
    height: 100%;
    width: 100%;
    color: #b91327;
   
}

body {
    min-height: 100vh;
}
#nav-header a {
    text-decoration: none;
    color: #b91327;
}
/* Nav */
.navbar {
    background-color: #0b0b0b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    width: calc(100% - 20px);
    border-radius: 15px;
    margin: 20px auto;
    box-sizing: border-box;
    font-family: "Griffy";
    font-size: 24px;
    overflow: hidden;
}


#nav-header {
    font-size: 45px;
    color: #b91327;
    text-align: center;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
}

.nav-button {
    padding: 15px;
    font-family: "Griffy";
    font-size: 16px;
    color: #0b0b0b;
    background-color: #b91327;
    border-radius: 22px;
    margin-right: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: 5px;
    width: auto; 
    display: flex;
    text-decoration: none;
}
  
  .nav-button:hover {
    background-color: #f5f5f5;
    box-shadow: 0px 15px 20px #a51223;
    color: #b91327;
    transform: translateY(-7px);
    text-decoration: none;
  }
  
  .nav-button:active {
    transform: translateY(-1px);
    text-decoration: none;
  }

  
/* Footer */

footer {
    background-color: #0b0b0b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    width: calc(100% - 20px);
    border-radius: 15px;
    margin: 20px auto;
    box-sizing: border-box;
    font-family: "Jolly Lodger";
    font-size: 24px;
    overflow: hidden;
}

.footer-text {
    color: #b91327;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons a {
    margin: 0 5px;
}

footer i {
    font-size: 25px;
    color: #b91327;
    padding: 20px;
}

.footer-names {
    color: #b91327;
}

/* Media query for medium screens (768px and down to 576px) */
@media screen and (max-width: 768px) and (min-width: 576px) {
    
    footer {
        background-color: #0b0b0b;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0 20px;
        width: calc(100% - 20px);
        border-radius: 15px;
        margin: 20px auto;
        box-sizing: border-box;
        overflow: hidden;
    }

    .footer-text {
        color: #b91327;
        align-self: auto;
        text-align: center;
        font-size: 22px;
        padding-right: 10px;
    }

    .footer-names {
        color: #b91327;
        align-self: auto;
        text-align: center;
        font-size: 22px;
        padding-left: 10px;
    }

    .footer-icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer-icons a {
        margin: 0 5px;
    }
    
    footer i {
        font-size: 18px;
        color: #b91327;
        padding: 5px;
    }
    
}

/* Media query for extra small screens (576px and below) */
@media screen and (max-width: 576px) {

    footer {
        background-color: #0b0b0b;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        padding: 0 20px;
        width: calc(100% - 20px);
        border-radius: 15px;
        margin: 5px auto;
        box-sizing: border-box;
        overflow: hidden;
    }

    .footer-text {
        color: #b91327;
        align-self: auto;
        text-align: center;
        font-size: 17px;
        padding-right: 25px;
    }

    .footer-names {
        color: #b91327;
        align-self: auto;
        text-align: center;
        font-size: 17px;
        padding-left: 25px;    
    }

    .footer-icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer-icons a {
        margin: 0 5px;
    }
    
    footer i {
        font-size: 18px;
        color: #b91327;
        padding: 2px;
    }
}